header {
    background-color: #B3B3B3;
    padding: 10px;
    background-image: url("../images/flywheel.jpg");
    background-size: cover;
}

body{
    margin: 10px;
    padding: 10px;
}

h1 {

    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 250%;
    font-weight: bold;
    
}

header>nav{
    position: relative;
    margin: 0 auto;
}

header>nav>a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 18%;
    padding: 1%;
    margin: auto;
    color: #000000;
    background-color: rgba(255,255,255,0.2);
}

aside.left {
    display: none;
}

h2 {
    color: #000088;
    font-size: 200%;
    text-transform: uppercase;
}

section.right {
    background-color: #919191;
}
