header {
    background-color: #B3B3B3;
    padding: 10px;
    background-image: url("../images/flywheel.jpg");
    background-size: cover;
}

body{
    margin: 10px;
    padding: 10px;
}

h1 {

    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 250%;
    font-weight: bold;
    
}

header>nav{
    width: 90%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

header>nav>a{

    text-decoration: none;
    display: inline-block;
    width: 20%;
    height: 20px;
    padding: 25px 0px;
    margin: 2%;
    color: #000000;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
}


aside.left {
    display: none;
}

h2 {
    color: #000088;
    font-size: 200%;
    text-transform: uppercase;
}

section.right {
    background-color: #919191;
}
